[MESSAGES CONTROL]

disable=duplicate-code,
        ungrouped-imports,
        inconsistent-return-statements,
        broad-exception-caught,
        missing-function-docstring,
        missing-module-docstring,
        redefined-builtin,
        redefined-outer-name,
        global-at-module-level,
        bad-indentation,
        line-too-long,
        too-many-nested-blocks,
        too-many-arguments,
        too-many-locals