asttokens
blinker
certifi
charset-normalizer
click
colorama
comm
contourpy
cycler
debugpy
decorator
exceptiongroup
executing
Flask
fonttools
idna
ipykernel
ipython
itsdangerous
jedi
Jinja2
joblib
jplephem
jupyter_client
jupyter_core
kiwisolver
MarkupSafe
matplotlib
matplotlib-inline
nest-asyncio
numpy
oauthlib
packaging
pandas
parso
pillow
platformdirs
prompt-toolkit
psutil
pure-eval
Pygments
pyparsing
python-dateutil
python-dotenv
pytz
pyzmq
requests
requests-oauthlib
scikit-learn
scipy
sgp4
six
skyfield
stack-data
threadpoolctl
tornado
traitlets
tweepy
tzdata
urllib3
wcwidth
Werkzeug
pymongo